~
.DS_Store
.idea
local
drivers
allure-results
.allure
jenkins_home
selenoid
m2
atlassian-ide-plugin.xml
build
target
docker
profile-dev.properties
*.build
*.changes
*.deb
*.debhelper
*.dsc
*.gz
*.hprof
*.hprof.index
*.ipr
*.iml
*.iws
*.jar
*.log
*.substvars
*.tar.gz
*.upload
upload.properties
*-local.properties
.hg
