version: '3.4'

services:
  jenkins_ci:
    image: jenkins/jenkins
    ports:
      - 8080:8080
      - 50000:50000
    volumes:
    - $PWD/jenkins_home:/var/jenkins_home

  selenoid_cm_clean:
    image: aerokube/cm
    volumes:
      - $PWD/selenoid/conf:/root
      - /var/run/docker.sock:/var/run/docker.sock
    command: selenoid cleanup --config-dir /root

  selenoid_cm_update:
    image: aerokube/cm
    links:
      - selenoid_cm_clean
    volumes:
      - $PWD/selenoid/conf:/root
      - /var/run/docker.sock:/var/run/docker.sock
    command: |
      selenoid configure
        --config-dir /root
        --tmpfs 128
        --last-versions 1
        --vnc

  selenoid_core:
    image: aerokube/selenoid
    restart: always
    network_mode: bridge
    volumes:
      - $PWD/selenoid/conf:/etc/selenoid/
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 4445:4444
    command: -limit 10 -session-delete-timeout 60s

  selenoid:
    image: aerokube/selenoid-ui
    restart: always
    network_mode: bridge
    links:
      - selenoid_core
    ports:
      - 8081:8080
    command: --selenoid-uri http://selenoid_core:4444